.App {
    text-align: center;
    
  }
  
  
  .custom-header {
    background-color: #ffc107;
  }
    
.black {
  background-color: black;
  height: 10px; 
}

    
    


  
  .red-o {
    color: red;
  }
  
  
  
 
  